/* body { margin: 0px; }  */

.folder_link {
  font-size: 20pt;
  font-weight: 100;
}

.book_link {
  height: 50px;
  font-size: 14pt;
  font-weight: 100;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: green;
}

.bargraph {
  border: 1px solid gray;
  width: 100px;
  height: 2px;
  display: flex;
  position: relative;
  left: calc(100% - 105px);
  top: 40px;
}

.bargraph_progress {
  border: 0px;
  height: 2px;
  background: red;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  text-indent: 0px;
  padding-left: 0;
}

li {
  background: #ddd;
}

li:nth-child(even) {
  background: #fff;
}

hr {
  width:100%;
}

/*
@media (min-width: 600px) {
  body {
    column-count: 2;
  }
}
*/